<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Booking Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
              integrity="sha256-xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous"></script>

  <script th:inline="javascript">
    $(document).ready(function () {
      // Listen to the change event of the doctorSpecialty dropdown
      $("#docSpecialty").change(function () {
        var docSpecialty = $(this).val();
        console.log("Selected Specialty:", docSpecialty);
        $.get("/appointments/getDoctorsBySpecialty", { specialty: docSpecialty }, function (data) {
          console.log("Data:", data);
          var doctorIdDropdown = $("#doctorId");
          doctorIdDropdown.empty();
          doctorIdDropdown.append('<option value="" selected disabled>Επιλέξτε γιατρό</option>');
          $.each(data, function (index, doctor) {
            doctorIdDropdown.append('<option value="' + doctor.id + '">' + doctor.user.firstName + ' ' + doctor.user.lastName + '</option>');
          });
        }).fail(function () {
          var doctorIdDropdown = $("#doctorId");
          doctorIdDropdown.empty();
          doctorIdDropdown.append('<option value="" selected disabled>Επιλέξτε ειδικότητα πρώτα</option>');
        });
      });

    });
  </script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Αρχική</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Είσοδος Ασθενή</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Είσοδος Γιατρού</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent3">
      <ul class="nav nav-pills">
        <li>
          <span class="fas fa-user fa-2x icon-silver"></span>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Διαχειριστής Συστήματος</a>
          <span class="nav-link" sec:authentication="principal.username"></span>
          </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br />

<!-- Add the userId here -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form-group mb-3">
        <label for="userId">User ID:</label>
        <span id="userId" th:text="${userId}"></span>
      </div>
      <!--<input type="hidden" name="userId" th:field="${userId}" />-->
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Φόρμα Κράτησης</h2>
        </div>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            Το ραντεβού καταχωρήθηκε επιτυχώς!
          </div>
        </div>

        <div th:if="${errorMessage}">
          <div class="alert alert-danger">
            <span th:text="${errorMessage}"></span>
          </div>
        </div>

        <div class="card-body">
          <form method="post"
                role="form"
                th:action="@{/appointment/save}"
                th:object="${appointment}">

            <!--<input class="form-control" type="text" name="userId" value="${userDto.id}"/>-->
            <input  type="hidden" name="userId" th:value="${userId}" />


            <div class="form-group mb-3">
              <label class="form-label">Ημερομηνία Κράτησης</label>
              <input class="form-control" id="app_date" name="app_date" type="date"
                     th:field="*{appDate}" required/>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Ειδικότητα Γιατρού</label>
              <select class="form-select" id="docSpecialty" name="docSpecialty" required>
                <option value="" selected disabled>Επιλέξτε ειδικότητα</option>
                <option value="ΠΑΘΟΛΟΓΟΣ">ΠΑΘΟΛΟΓΟΣ</option>
                <option value="ΟΡΘΟΠΕΔΙΚΟΣ">ΟΡΘΟΠΕΔΙΚΟΣ</option>
                <option value="ΟΦΘΑΛΜΙΑΤΡΟΣ">ΟΦΘΑΛΜΙΑΤΡΟΣ</option>
                <option value="ΟΔΟΝΤΙΑΤΡΟΣ">ΟΔΟΝΤΙΑΤΡΟΣ</option>
                <option value="ΩΡΛ">ΩΡΛ</option>
                <option value="ΧΕΙΡΟΥΡΓΟΣ">ΧΕΙΡΟΥΡΓΟΣ</option>
                <option value="ΚΑΡΔΙΟΛΟΓΟΣ">ΚΑΡΔΙΟΛΟΓΟΣ</option>
              </select>
            </div>

            <!-- Add the list of doctors here -->
            <div th:if="${doctors}">
              <div class="form-group mb-3">
                <label class="form-label">Επιλέξτε γιατρό</label>
                <select class="form-select" id="doctorId" name="doctorId" required>
                  <option value="" selected disabled>Επιλέξτε γιατρό</option>
                  <!-- Loop through the doctors and display them as options -->
                  <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                          th:text="${doctor.user.firstName} + ' ' + ${doctor.user.lastName}"></option>
                </select>
                <input type="hidden" name="doctorId" th:value="${appointment.doctorId}" />
              </div>
            </div>
            <input type="hidden" name="doctorId" th:value="${appointment.doctorId}" />

            <div class="form-group mb-3">
              <label class="form-label">Αιτία Κράτησης</label>
              <textarea class="form-control" id="bookingReason" name="bookingReason" rows="3"
                        th:field="*{reason}" required></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Κράτηση</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
