<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <i class="fa-solid fa-house-medical fa-lg"></i>Clinic System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>

            <div class="card-header">
                <h2 class="text-center">Εγγραφή Χρήστη</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                    <div class="form-group mb-3">
                        <label class="form-label">Όνομα</label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Εισάγετε Όνομα"
                               th:field="*{firstName}"
                               type="text"
                        />
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Επώνυμο</label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Εισάγετε Επώνυμο"
                               th:field="*{lastName}"
                               type="text"
                        />
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Εισάγετε address"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Εισάγετε password"
                               th:field="*{password}"
                               type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">ΑΜΚΑ</label>
                        <input
                                class="form-control"
                                id="amka"
                                name="amka"
                                placeholder="Εισάγετε τον ΑΜΚΑ"
                                th:field="*{amka}"
                                type="text"
                        />
                        <p th:errors="*{amka}" class="text-danger"
                           th:if="${#fields.hasErrors('amka')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Αρ. Τηλεφώνου</label>
                        <input class="form-control"
                               id="phoneNo"
                               name="phoneNo"
                               placeholder="Εισάγετε Αρ. Τηλεφώνου"
                               th:field="*{phNo}"
                               type="text"
                        />
                        <p th:errors="*{phNo}" class="text-danger"
                           th:if="${#fields.hasErrors('phNo')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-check-label" style="color: red;">*Τα παρακάτω πεδία αφορούν ΜΟΝΟ αν κάποιος είναι γιατρός</label>
                        <div class="form-check">
                                <input class="form-check-input" type="radio" id="isDoctorTrue" name="isDoctor" value="true" onchange="toggleDocSpecialty()">
                                <label class="form-check-label" for="isDoctorTrue">Γιατρός</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="isDoctorFalse" name="isDoctor" value="false" onchange="toggleDocSpecialty()">
                            <label class="form-check-label" for="isDoctorFalse">Όχι Γιατρός</label>
                        </div>
                        <div class="form-group mb-3">
                            <select class="form-select" aria-label="Default select example" name="doc_specialty" id="doc_specialty" disabled>
                                <option selected value="">Επιλέξτε Ειδικότητα</option>
                                <option value="ΠΑΘΟΛΟΓΟΣ">ΠΑΘΟΛΟΓΟΣ</option>
                                <option value="ΟΡΘΟΠΕΔΙΚΟΣ">ΟΡΘΟΠΕΔΙΚΟΣ</option>
                                <option value="ΟΦΘΑΛΜΙΑΤΡΟΣ">ΟΦΘΑΛΜΙΑΤΡΟΣ</option>
                                <option value="ΟΔΟΝΤΙΑΤΡΟΣ">ΟΔΟΝΤΙΑΤΡΟΣ</option>
                                <option value="ΩΡΛ">ΩΡΛ</option>
                                <option value="ΧΕΙΡΟΥΡΓΟΣ">ΧΕΙΡΟΥΡΓΟΣ</option>
                                <option value="ΚΑΡΔΙΟΛΟΓΟΣ">ΚΑΡΔΙΟΛΟΓΟΣ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Εγγραφή</button>
                        <span>Είσαι ήδη εγγεγραμμένος? <a href="/" th:href="@{/login}">Είσοδος
                             εδώ</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function toggleDocSpecialty() {
        const isDoctorRadio = document.getElementById("isDoctorTrue");
        const docSpecialtyInput = document.getElementById("doc_specialty");

        docSpecialtyInput.disabled = !isDoctorRadio.checked;
        if (isDoctorRadio.checked) {
            docSpecialtyInput.required = true;
        } else {
            docSpecialtyInput.required = false;
        }
        docSpecialtyInput.reportValidity(); // Trigger validation immediately
    }
</script>
<div id="footer">
    Copyright © Koutras Ioannis-Prodromos
</div>
</body>
</html>