<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <style>
    #footer {
      position: fixed;
      padding: 10px 10px 0px 10px;
      bottom: 0;
      width: 100%;
      height: 40px;
      text-align: center;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" th:fragment="header">
  <div class="container-fluid">
    <i class="fa-solid fa-house-medical fa-lg"></i>
    <a class="navbar-brand" th:href="@{/}">    Clinic System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/welcome/doctor}">Αρχική</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/doctor/appointments}">Ραντεβού</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/diagnoses/by-doctor}">Οι Διαγνώσεις μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/doctor/search-history}">Αναζήτηση Ασθενή</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/doctors}">Αναζήτηση Γιατρών</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Αποσύνδεση</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h2 class="text-center">Αναζήτηση Ιστορικού Ασθενή</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
          <form th:action="@{/doctor/search-history}" method="get">
            <div class="form-group"><br>
              <label for="specialty">Εισάγετε ΑΜΚΑ για αναζήτηση:</label>
            <input type="hidden" id="specialty" name="specialty" th:value="${doctorSpecialty}" />
            <label for="amka" class="text-center">AMKA:</label>
            <input type="text" id="amka" name="amka" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Αναζήτηση</button>
            <br><br>
          </form>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-success">
        <tr>
          <th>Ραντεβού Νο</th>
          <th>Ημερ/νία</th>
          <th>Όνομα Ασθενή</th>
          <th>Διάγνωση</th>
          <th>Θεραπεία</th>
          <th>Φάρμακα</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the list of appointments and display diagnosis data in rows -->
        <tr th:each="appointment : ${appointments}">
          <td th:text="${appointment.id}"></td>
          <td th:text="${appointment.app_date}"></td>
          <td th:text="${appointment.user.firstName + ' ' + appointment.user.lastName}"></td>
          <!-- Access diagnosis data for the current appointment -->
          <td>
            <span th:if="${appointment.diagnosis != null}" th:text="${appointment.diagnosis.result}"></span>
          </td>
          <td>
            <span th:if="${appointment.diagnosis != null}" th:text="${appointment.diagnosis.treatment}"></span>
          </td>
          <td>
            <span th:if="${appointment.diagnosis != null}" th:text="${appointment.diagnosis.medicine.name}"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="footer">
  Copyright © Koutras Ioannis-Prodromos
</div>
</body>
</html>
