<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Αρχική</a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/doctor/appointments}">Ραντεβού</a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/diagnoses/by-doctor}">Οι Διαγνώσεις μου</a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/doctor/search-history}">Αναζήτηση Ασθενή</a>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/logout}">Αποσύνδεση</a>
  </div>
</nav>
<br/>
<h1>Search History</h1>

<form th:action="@{/doctor/search-history}" method="get">
  <input type="hidden" id="specialty" name="specialty" th:value="${doctorSpecialty}" />

  <div>
    <label for="amka">AMKA:</label>
    <input type="text" id="amka" name="amka" />
  </div>
  <button type="submit">Search</button>
</form>

<div th:if="${param.logout}">
  <div class="alert alert-success">You have been logged out.</div>
</div>

<!-- Display search results in a table -->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Appointment ID</th>
    <th>Date</th>
    <th>Patient Name</th>
    <th>Diagnosis Result</th>
    <th>Treatment</th>
    <th>Medicine</th>
    <!-- Add more table headers as needed -->
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over the list of appointments and display diagnosis data in rows -->
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${appointment.app_date}"></td>
    <td th:text="${appointment.user.firstName + ' ' + appointment.user.lastName}"></td>
    <!-- Access diagnosis data for the current appointment -->
    <td th:text="${appointment.diagnosis.result}"></td>
    <td th:text="${appointment.diagnosis.treatment}"></td>
    <td th:text="${appointment.diagnosis.medicine.name}"></td>
  </tr>
  <!-- Add a conditional check to display a message if no results are found -->
  <!--<tr th:if="${appointments.isEmpty()}">
    <td colspan="6">No results found for the entered AMKA.</td>
  </tr>-->
  </tbody>
</table>
</body>
</html>
