<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User Details</title>
</head>
<body>
<h2>Edit Your Details</h2>
<form th:action="@{/profile/edit}" method="post" th:object="${user}">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" th:field="*{firstName}"><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br>

  <label for="email">Email:</label>
  <input type="text" id="email" name="email" th:field="*{email}"><br>

  <label for="amka">AMKA:</label>
  <input type="text" id="amka" name="amka" th:field="*{amka}"><br>

  <label for="phNo">Phone Number:</label>
  <input type="text" id="phNo" name="phNo" th:field="*{phNo}"><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" th:field="*{password}"><br>

  <button type="submit">Save Changes</button>
</form>
</body>
</html>
