<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Patient</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <style>
    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" th:fragment="header">
  <div class="container-fluid">
    <i class="fa-solid fa-house-medical fa-lg"></i>
    <a class="navbar-brand" th:href="@{/}">    Clinic System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/welcome/user}">Αρχική</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/appointment}">Νέο Ραντεβού</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mybookings}">Τα Ραντεβού μου</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/diagnoses/by-patient}">Οι Διαγνώσεις μου</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Εφαρμογές Υγείας & Ευεξίας
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/bmi_calculation}">Υπολογισμός ΔΜΣ</a></li>
            <li><a class="dropdown-item" th:href="@{/ideal_weight}">Υπολογισμός Ιδανικού Βάρους</a></li>
            <li><a class="dropdown-item" th:href="@{/fat_calculation}">Υπολογισμός Λίπους</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/first_aid}">Α' Βοήθειες</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contact}">Επικοινωνία</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Αποσύνδεση</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/profile/edit}">Το Προφίλ μου</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br />

<div class="center">
  <img src="/images/user.jpg" alt="Welcome" width="800" height="400">

  <h2 th:text="'Καλωσήρθες και πάλι '  + ' ' + ${userInfo.firstName + ' ' + userInfo.lastName}"></h2>
</div>
</body>
</html>